.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #2e3235;;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}



*{
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  scroll-behavior: smooth;
  text-align: center;

}


.container {
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}

.app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
  color: #f68657;
  margin: auto;
  width: 100%;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}
.header{
  font-size: 25px;
}

.list{
  width: 96px;
  height: 26px;
  left: 77px;
  top: -3px;
  background: #2B4047;
  border-radius: 50px;
  color: white;

}
.optionclass{
  width: 56px;
  height: 14px;
  left: 78px;
  top: 30px;
  padding: 12px 16px;
  font-family: Times;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.Dropdown-cotainer{
  padding : 5px;
}

.submit-btn {
  background: #f68657;
    padding: 8px;
    border-radius: 8px;
    margin-top: 11px;
    width: 30%;
    border: solid 1px black;
    color: black;
    font-weight: bold;
    margin-bottom: 28%;
}

.expand-btn {
  color: white;
    border: none;
    background: none;
    font-weight: bold;
    padding-left: 10px;

}


table {
   width: 100%;
  margin: 20px auto;
  table-layout: auto;
  overflow-x: auto;
}
table,
td,
th {
  border-collapse: collapse;
}

th,
td{
  padding: 5px 0px 0px;
  border: solid 1px;
  text-align: left;

}

.text{
   width: 100%;
    background: #2e3235;
    color: #dbd0d0;
    border: none;
    font-size: medium;
}

.table{

      margin: auto;
      padding: 1px;

}

.center-text{
  text-align: center;
  font-size: medium;
}
@media only screen and (max-width: 800px) {
  .table {
      width: 95%;
      float: left;
  }

  .header{
    font-size: smaller;
    text-align: center;
  }

  th, td {
    padding: 2px 1px;
    border: solid 1px;
    text-align: left;
    font-size: small;

  }

  .logout-btn{
    font-size: x-small;
  }
}


.claculate-btn{
  background: #f68657;
  padding: 8px;
  border-radius: 8px;
  margin-top: 11px;
  width: 30%;
  border: solid 1px black;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;

}

.pop-up{
  background-color: white;
  padding: 60px 100px;
  width: 60%;
}

 .logout-btn{
  position:fixed;
  right:80px;
  background-color: #f68657;
  border-radius: 8px;
  width: 5%;
  border: solid 1px black;
  color: black;
  font-weight: bold;
  height: 27px;
  box-sizing: border-box;
  /* display: flex; */
  top: 10px;

} 
.login-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f68657;
  border-radius: 8px;
  width: 20%;
  border: solid 1px black;
  color: black;
  font-weight: bold;
  height: 25px;
 
}
.footer{
  position: relative;
   left: 0;
   bottom: 0;
   /* width: 100%; */
   background-color: var(--color-lighter);
   box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
   color: #f68657;
   padding: 10px;
   text-align: right;
}

.copy-write{
  display: block;
  font-size: small;
}
p{
  text-align: right;
  font-size: smaller;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li button {
  text-decoration: none;
  display: block;
  /* width: 100%; */
}

.hamburger {
  border: 0;
    height: 28px;
    width: 28px;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #f68657;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 18px;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
  background-color: #f68657;

}

@media screen and (max-width: 550px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    /* background-color: white; */
    /* border-top: 1px solid black; */
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li  {
    color: #f68657;
    width: 15%;
    padding: 1.5rem 0;
    display: none;
  }
  .navigation-menu li:hover {
    background-color: black;
  }

  .navigation-menu-expanded ul {
    display: block;
  }

  .navigation-menu-expanded {
    display: inline-block;
  }
  .navigation-menu .logout-btn{
    display: none;
  }
  /* .navigation-menu-expanded .logout-btn {
    display: block;
  } */
}
