.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #2e3235;;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}



*{
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  /* font-size: inherit; */
  scroll-behavior: smooth;
  text-align: center;
  /* overflow: scroll; */
 
}


.container {
  width: 100%;
  height: 100vh; 
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  overflow: scroll;  
  overflow-x: hidden;
}

.app {
  width: 100%;
  /* max-width: 592px; */
  height: 100%; 
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
  color: #f68657;
  /* width: 80%; */
  margin: auto;
  width: 100%;
  /* border: 3px solid green; */
  justify-content: center;
  padding: 10px;
}

.list{
  /* position: absolute; */
  width: 96px;
  height: 26px;
  left: 77px;
  top: -3px;
  background: #2B4047;
  border-radius: 50px;
  color: white;

}
.optionclass{
  /* position: absolute; */
  width: 56px;
  height: 14px;
  left: 78px;
  top: 30px;
  padding: 12px 16px;
  font-family: Times;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  color: #FFFFFF;
}

.Dropdown-cotainer{
  padding : 5px;
}

.submit-btn {
  background: #f68657;
    padding: 8px;
    border-radius: 8px;
    margin-top: 11px;
    width: 30%;
    border: solid 1px black;
    color: black;
    font-weight: bold;
}

.expand-btn {
  color: white;
    border: none;
    background: none;
    font-weight: bold;
    padding-left: 10px;

}


table {
   width: 100%; 
  margin: 20px auto;
  table-layout: auto;
  overflow-x: auto;
}
table,
td,
th {
  border-collapse: collapse;
}

th,
td{
  padding: 5px 0px 0px;
  border: solid 1px;
  text-align: left;
  /* font-size: small; */
}

.text{
   width: 100%;
    background: #2e3235;
    color: #dbd0d0;
    border: none;
}

.table{
      /* width: 80%; */
      margin: auto;
      /* width: 80%; */
      /* border: 3px solid green; */
      padding: 1px;
    
}

.center-text{
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .table {
      width: 95%;
      float: left;
  }
  /* table {
    width: 100%;
    margin: 5px auto;
    table-layout: auto;
    overflow-x: auto;
  } */
  th, td {
    padding: 2px 1px;
    border: solid 1px;
    text-align: left;
    font-size: small;
  
  }
  
}

/* @media only screen and (max-width: 600px) {
  .container{
    overflow-y: hidden;
  }
} */

.claculate-btn{
  background: #f68657;
  padding: 8px;
  border-radius: 8px;
  margin-top: 11px;
  width: 30%;
  border: solid 1px black;
  color: black;
  font-weight: bold;

}

.pop-up{
  background-color: white;
  padding: 60px 100px;
}

.logout-btn{
  position:fixed; 
  right:80px;
  background-color: #f68657;
  border-radius: 8px;
  width: 8%;
  border: solid 1px black;
  color: black;
  font-weight: bold;
  height: 27px;
}

.login-btn{
  position: absolute;
  top: 40%;
  background-color: #f68657;
  border-radius: 8px;
  width: 8%;
  border: solid 1px black;
  color: black;
  font-weight: bold;
  height: 27px;
}
